.App{
  background-color: blueviolet;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container{
  width: 1000px;
  height: 600px;
}

.card{
  display: inline-block;
  margin: 5px;
  height: calc(200px- 10px);
  width: calc(200px - 10px);
  cursor: pointer;
}

.card:hover{
  transform: scale(0.98);
}